<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">Oxana Michkasova&copy; <%= Time.now.year %></small>
    </div>
    <div class="col-12 d-flex justify-content-start">
      <a href="https://github.com/oxangyal" target="_blank" class="text-muted me-3">
        <i class="fab fa-github fa-2x"></i> 
      </a>
      <a href="https://www.instagram.com/angeleyelive" target="_blank" class="text-muted me-3">
        <i class="fab fa-instagram fa-2x"></i> 
      </a>
      <a href="https://www.linkedin.com/in/oxanamich/" target="_blank" class="text-muted me-3">
      <i class="fab fa-linkedin fa-2x"></i> 
    </a>
    </div>
  </div>
</footer>
